body{

background:#111;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e1e1e;
padding:40px;
border-radius:10px;
width:500px;
text-align:center;
box-shadow:0 0 20px black;

}

h1{

margin-bottom:30px;

}

input{

width:80%;
padding:10px;
font-size:16px;
margin-bottom:20px;

}

button{

padding:10px 20px;
background:#0066ff;
color:white;
border:none;
cursor:pointer;

}

button:hover{

background:#0044aa;

}

#result{

margin-top:30px;
text-align:left;

}