<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | BMW Motorrad Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <img src="{{ url_for('static', filename='m-logo.png') }}" alt="M Logo" style="width: 105px; margin-bottom: 15px;">

        <h2>Login</h2>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <div class="remember">
                <label>
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>

            <button type="submit">Login</button>
        </form>

        <p class="switch">
            Don’t have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

    </div>
</div>

</body>
</html>